<!DOCTYPE html>
    <html lang="en">
        <head>
            <%- include('partials/head.ejs'); %>
        </head>
        <body>
            <%- include('partials/form.ejs') %>
            <br>
            <%- include('partials/messages.ejs') %>
        </body>
    </html>