<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
</head>
<body>
  <h1 style="margin: 0 auto; padding-top: 25px; width: 50%;">Product list</h1>
  <br>
  <%- include('partials/tabla.ejs'); %>
  <div class="div-btn">
    <a href="/">
        <button class="btn btn-secondary">Back to main site</button>
    </a>
  </div>
  
</body>
</html>