{{!-- Acá va la estructura, el layout --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">W
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- así incorporamos bloques parciales de cógio, con tres llaves y body --}}
    {{!-- body es una palabra reservada de handlebars, que refiere a la raiz de nuestro proyecto --}}
    {{{body}}} 
</body>
</html>