<form action="/productos" method="post">
    <h1>Insert a product</h1>
    <div class="form-group">
        <label for="name">Product</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Product's name" autofocus>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="thumbnail">Thumbnail</label>
        <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="URL of the thumbnail">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="tabla"></div>
<div class="div-btn">
    <a href="/productos">
        <button class="btn btn-secondary">Browse products</button>
    </a>
</div>