<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Url</th>
        </tr>
    </thead>
    <tbody>
        <% if (datos.length===0) { %>
            <tr>
                <td colspan="3">No data available</td>
            </tr>
            <% } else { %>
                <% for (let i=0; i < datos.length; i++) { %>
                    <tr>
                        <td>
                            <%=datos[i].name%>
                        </td>
                        <td>
                            <%=datos[i].price%>
                        </td>
                        <td><img src="<%=datos[i].thumbnail%>" class="img-thumbnails"></td>
                    </tr>
                    <% } } %>
    </tbody>
</table>