<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Url</th>
        </tr>
    </thead>
    <tbody class="tbody">
        {{#if datos}} 
            {{#each datos}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="{{this.url}}" class="productoImagen"></td>                  
                </tr>
            {{/each}}     	
        {{else}} 	
            <tr>
                <td colspan="3">No hay datos</td>
            </tr>	
    {{/if}}
    </tbody>
</table>